<div id="app">
  <div id="xhr">
    <div id="a">
      <div class="oh page-height">

        <nav id="nav-container" style="opacity: 1;">
          <div id="nav-wrap">
            <svg id="nav-morph" width="10" height="10" viewBox="0 0 10 10" preserveAspectRatio="none">
              <path id="nav-morph-path" d="M 0,0 L 10,0 L 10,0 C 10,0 10,0 5,0 C 0,0 0,0 0,0 Z"></path>
            </svg>
            <div id="nav">
              <div id="nav-left">
                <div class="nav-link-wrap">
                  <a class="nav-link oh" href="http://jemimahbarnett.com/about">
                    ABOUT
                    <span class="nav-link-line">
                      <span class="nav-link-line-left">
                        <span class="nav-link-line-color"></span>
                      </span>
                      <span class="nav-link-line-right">
                        <span class="nav-link-line-color"></span>
                      </span>
                    </span>
                  </a>
                </div>
                <div id="nav-link-submenu" class="nav-link-wrap">
                  <div class="nav-link oh">
                    WORK
                    <span class="nav-link-line">
                      <span class="nav-link-line-left">
                        <span class="nav-link-line-color"></span>
                      </span>
                      <span class="nav-link-line-right">
                        <span class="nav-link-line-color"></span>
                      </span>
                    </span>
                  </div>

                  <div id="nav-submenu-extend-left"></div>
                  <div id="nav-submenu-extend-bottom">
                    <div id="nav-submenu-wrap">
                      <div id="nav-submenu"><a class="nav-submenu-link" href="http://jemimahbarnett.com/my-work"><span
                            class="nav-submenu-link-no-wrap oh"><span class="nav-submenu-link-no">01</span> </span><span
                            class="nav-submenu-link-title-wrap oh"><span class="nav-submenu-link-title">MY
                              WORK</span></span></a>
                        <a class="nav-submenu-link" href="http://jemimahbarnett.com/how-i-work"><span
                            class="nav-submenu-link-no-wrap oh"><span class="nav-submenu-link-no">02</span>
                          </span><span class="nav-submenu-link-title-wrap oh"><span class="nav-submenu-link-title">HOW I
                              WORK</span> </span>
                        </a><a class="nav-submenu-link" href="http://jemimahbarnett.com/working-with-buyers"><span
                            class="nav-submenu-link-no-wrap oh"><span class="nav-submenu-link-no">03</span>
                          </span><span class="nav-submenu-link-title-wrap oh"><span
                              class="nav-submenu-link-title">WORKING WITH BUYERS</span> </span></a>
                        <a class="nav-submenu-link" href="http://jemimahbarnett.com/working-with-investors"><span
                            class="nav-submenu-link-no-wrap oh"><span class="nav-submenu-link-no">04</span>
                          </span><span class="nav-submenu-link-title-wrap oh"><span
                              class="nav-submenu-link-title">WORKING WITH INVESTORS</span></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-link-wrap">
                  <a class="nav-link oh" href="http://jemimahbarnett.com/press">
                    PRESS
                    <span class="nav-link-line"><span class="nav-link-line-left"><span
                          class="nav-link-line-color"></span></span><span class="nav-link-line-right"><span
                          class="nav-link-line-color"></span></span></span></a></div>

              </div>
              <div id="nav-right">
                <div class="nav-link-wrap"><a class="nav-link oh" href="http://jemimahbarnett.com/blog">BLOG<span
                      class="nav-link-line"><span class="nav-link-line-left"><span
                          class="nav-link-line-color"></span></span><span class="nav-link-line-right"><span
                          class="nav-link-line-color"></span></span></span></a></div>
                <div class="nav-link-wrap"><a class="nav-link oh" href="http://jemimahbarnett.com/contact">CONTACT<span
                      class="nav-link-line"><span class="nav-link-line-left"><span
                          class="nav-link-line-color"></span></span><span class="nav-link-line-right"><span
                          class="nav-link-line-color"></span></span></span></a>
                </div>
                <div class="nav-link-wrap">
                  <a href="https://www.facebook.com/jemimahbarnett/" class="nav-top-right nav-top-right-share oh tb tb">
                    <svg width="17" height="17" viewBox="0 0 17 17">
                      <path
                        d="M10.4,4h2.1V1h-2.4v0C7.2,1.1,6.5,2.7,6.5,4.5h0V6h-2v3h2v8h3V9H12l0.5-3H9.5V5.1C9.5,4.5,9.9,4,10.4,4z">
                      </path>
                    </svg>
                  </a>
                  <a href="https://twitter.com/jemimah_barnett" class="nav-top-right nav-top-right-share oh tb tb">
                    <svg width="17" height="17" viewBox="0 0 17 17">
                      <path
                        d="M16.9,3.3c-0.6,0.3-1.3,0.5-2,0.5c0.7-0.4,1.3-1.1,1.5-1.9c-0.7,0.4-1.4,0.7-2.2,0.8c-0.6-0.7-1.5-1.1-2.5-1.1c-1.9,0-3.4,1.5-3.4,3.4c0,0.3,0,0.5,0.1,0.8C5.5,5.8,3,4.4,1.3,2.4C1,2.9,0.8,3.5,0.8,4.1c0,1.2,0.6,2.2,1.5,2.9c-0.6,0-1.1-0.2-1.6-0.4c0,0,0,0,0,0c0,1.7,1.2,3,2.8,3.4C3.3,10,2.9,10,2.6,10C2.4,10,2.2,10,2,10c0.4,1.4,1.7,2.4,3.2,2.4c-1.2,0.9-2.7,1.5-4.3,1.5c-0.3,0-0.6,0-0.8,0c1.5,1,3.3,1.5,5.3,1.5c6.3,0,9.8-5.2,9.8-9.8c0-0.1,0-0.3,0-0.4C15.9,4.6,16.4,4,16.9,3.3z">
                      </path>
                    </svg>
                  </a>
                  <a href="https://www.youtube.com/channel/UC08Lt1pok8pwc0L6G0IX7LA"
                    class="nav-top-right nav-top-right-share oh tb tb">
                    <svg width="17" height="17" viewBox="0 0 17 17">
                      <path
                        d="M15,17c-3.2,0-9.8,0-13,0c-1.9,0-2-2-2-2V2c0,0,0.1-2,2-2c3.2,0,9.8,0,13,0c2,0,2,2,2,2v13C17,15,17,17,15,17zM7,5v7l4.9-3.5L7,5z">
                      </path>
                    </svg>
                  </a>
                  <a href="http://www.houzz.co.uk/pro/jemimahbarnett"
                    class="nav-top-right nav-top-right-share nav-top-right-share-last oh tb tb">
                    <svg width="17" height="17" viewBox="0 0 17 17">
                      <polygon points="8.5,17 13.5,14.1 13.5,8.5 8.5,11.4"></polygon>
                      <polygon points="8.5,5.8 13.5,8.5 13.5,2.9"></polygon>
                      <polygon points="8.5,5.8 8.5,11.4 13.5,8.5"></polygon>
                      <polygon points="3.5,8.7 3.5,14.3 8.5,11.4"></polygon>
                      <polygon points="8.5,0 3.5,2.9 3.5,8.7 8.5,5.8"></polygon>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div id="nav-center"><a class="nav-link" href="http://jemimahbarnett.com/">OdyLight</a></div>
          </div>
        </nav>

        <div id="a-header-wrap" class="oh">
          <div id="a-header-bg" style="opacity: 1;"></div>
          <div id="a-header" data-aboutheaderslider="0" style="opacity: 1;">
            <div id="a-header-frame">
              <div id="a-header-pagination-wrap" class="slider-pagination-wrap slider-pagination-dark"
                style="opacity: 1;">
                <div class="slider-pagination oh">
                  <div class="slider-pagination-no-wrap">
                    <div class="slider-pagination-base">00</div>
                    <div class="slider-pagination-no first" style="transform: translate3d(0px, 0%, 0px);">01</div>
                    <div class="slider-pagination-no" style="transform: translate3d(0px, -100%, 0px);">02</div>
                    <div class="slider-pagination-no" style="transform: translate3d(0px, -100%, 0px);">03</div>
                  </div>
                  <div class="slider-pagination-total">&nbsp;/&nbsp;03</div>
                </div>
                <div class="slider-pagination-line-wrap oh">
                  <div class="slider-pagination-line" style="transform: translate3d(0%, 0px, 0px);"></div>
                </div>
              </div>
              <div id="a-header-arrow-wrap" class="slider-arrow-wrap oh">
                <div id="a-header-arrow-bg" class="slider-arrow-bg" style="transform: translate3d(0%, 0px, 0px);"></div>
                <div id="a-header-arrow" class="slider-arrow" style="opacity: 1;">
                  <div id="a-header-arrow-btn-left" class="a-header-arrow-btn slider-arrow-btn slider-arrow-btn-left">
                    <svg>
                      <use xlink:href="#svg-arrow-left"></use>
                    </svg>
                  </div>
                  <div id="a-header-arrow-btn-right" class="a-header-arrow-btn slider-arrow-btn slider-arrow-btn-right">
                    <svg>
                      <use xlink:href="#svg-arrow-right"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow-line"></div>
                </div>
              </div>
              <h1 id="a-header-title" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                <%# <span id="a-header-title-top">I'm<br>Jemimah</span>  %>
                <span id="a-header-title-top">Web<br>Creativity</span>
                <span id="a-header-title-bottom">
                  <span class="text-bold">Inspired</span>&nbsp;&amp;&nbsp;
                  <span class="text-bold">
                    Designer
                    Specialist.
                  </span>
                  I guide clients through their needs &amp; achieving their projects.
                </span>
              </h1>
              <div id="a-header-txt" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                <div id="a-header-txt-quote">“</div>
                <div id="a-header-txt-0-wrap">
                  <div id="a-header-txt-0-line-wrap" class="oh">
                    <div id="a-header-txt-0-line" style="transform: translate3d(0%, 0px, 0px);"></div>
                  </div>
                  <div id="a-header-txt-0-w" class="oh">
                    <div id="a-header-txt-0-base">at your side on your team</div>
                    <div class="a-header-txt-0 first" style="transform: translate3d(0px, 0%, 0px);">Front-End
                    </div>
                    <div class="a-header-txt-0" style="transform: translate3d(0px, -100%, 0px);">Back-End</div>
                    <div class="a-header-txt-0" style="transform: translate3d(0px, -100%, 0px);">Motion Graphics &amp;
                      streamline</div>
                  </div>
                </div>
                <div id="a-header-txt-1-wrap" class="oh">
                  <div id="a-header-txt-1-base">trusted guide</div>
                  <div class="a-header-txt-1 first" style="transform: translate3d(0px, 0%, 0px);">trusted advisor</div>
                  <div class="a-header-txt-1" style="transform: translate3d(0px, -100%, 0px);">for the best deal</div>
                  <div class="a-header-txt-1" style="transform: translate3d(0px, -100%, 0px);">- Designer</div>
                </div>
                <%# <div id="a-header-txt-2-wrap" class="oh">
                  <div id="a-header-txt-2-base">diligence</div>
                  <div class="a-header-txt-2 first" style="transform: translate3d(0px, 0%, 0px);">&nbsp;</div>
                  <div class="a-header-txt-2" style="transform: translate3d(0px, -100%, 0px);">&nbsp;</div>
                  <div class="a-header-txt-2" style="transform: translate3d(0px, -100%, 0px);">diligence</div>
                </div> %>
              </div>
            </div>
            <svg id="a-header-letter-svg" viewBox="0 0 422 700" width="422" height="700">
              <g clip-path="url(#a-clip)">
                <rect width="422" height="700" fill="#ffffff"></rect>
                <image id="a-header-letter-img-0" width="422" height="700" xlink:href="<%= Routes.static_path(@conn, "/images/bg-0.jpg") %>"
                  style="opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></image>
                <image id="a-header-letter-img-1" width="422" height="700" xlink:href="<%= Routes.static_path(@conn, "/images/bg-1.jpg") %>"
                  style="opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></image>
                <image id="a-header-letter-img-2" width="422" height="700"  xlink:href="<%= Routes.static_path(@conn, "/images/bg-2.jpg") %>"
                  style="opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"></image>
              </g>
            </svg>
            <svg id="a-header-clip" viewBox="0 0 422 700" width="422" height="700">
              <defs>
                <clipPath id="a-clip">
                  <polygon id="a-header-polygon"
                    points="215.4,472.5 215.4,471.7 215.4,470.9 215.4,470.2 215.4,468.8 215.4,467.3 215.4,461.8 215.4,456.3 215.4,450 215.4,442.9 215.4,435.7 215.4,427.1 215.4,418.4 215.4,395.5 215.4,364.7 215.4,140.8 215.4,127.3 215.4,117.4 215.4,108.8 215.4,101.9 215.4,96.3 215.4,91.2 215.4,84 215.4,78.7 215.4,74.3 215.4,72.4 215.4,70.5 215.4,69.2 211,69.2 211,70.5 211,73 211,76.4 211,84.2 211,95.2 211,105.9 211,120.8 211,136.9 211,155 211,170.7 211,187 211,202.7 211,214.6 211,226.3 211,236.6 211,243.1 211,249.1 211,253.6 211,255 211,256.4 211,257.7 211,258.8 211,259.8 211,269.2 211,270.6 211,272 211,273.2 211,274.6 211,276.1 211,277.7 211,279.5 211,281.5 211,291.1 211,301.6 211,314.6 211,326.6 211,344.8 211,359.9 211,376.3 211,394.1 211,410.1 211,426.1 211,438.8 211,450.9 211,461.5 211,469.3 211,470.5 211,471.2 211,471.8 211,472.5 211,473 215.4,485.4 220.9,496.5 225,492 228.4,487.9 232,483.3 236.8,476.2 241.5,467.9 245.1,460.5 248.3,452.6 250.8,445 253,436.9 255.1,427.3 256.8,416.9 258.3,404.6 259.3,392.5 259.9,381.8 260.3,372.6 260.6,363.3 260.9,353.8 261,343.3 261.1,332.7 261.2,320.6 261.2,310.1 261.2,301 261.2,294.8 261.2,287.7 261.2,280.2 261.2,273.8 261.2,268.4 261.2,263.4 261.2,261.8 261.2,260.1 261.2,258.5 261.2,249.3 261.2,231.8 261.2,211.5 261.2,190.4 261.2,167.7 261.2,142.6 261.2,110.3 261.2,64.3 261.7,48.1 263.1,36.5 265.4,28.4 268.2,23.6 271.2,20.4 274.4,18.1 278.9,16.1 284.4,14.6 292.6,13.3 306.5,12.2 306.5,0 297.8,0.4 287.8,0.8 278.3,1.1 267.8,1.3 252.9,1.5 237.6,1.7 225.1,1.8 215.4,1.8 208.9,1.8 202.5,1.8 195.6,1.7 189.8,1.7 182.3,1.7 171.5,1.6 160.2,1.4 147.5,1.1 137.5,0.8 130,0.5 124,0.3 118.9,0 118.9,12.2 124.5,12.5 129.2,12.9 135,13.6 140,14.5 144.9,15.7 149.2,17.2 152.2,19 154.8,21 157.1,23.4 159.4,27 161.3,31.6 162.4,35.9 163.3,41.6 163.9,47.6 164.3,53.6 164.5,64.3 164.5,341.8 163.9,413.6 162.8,436.5 162.3,443.1 161.4,450.5 160.5,457.5 158.9,466.1 156.8,475.4 154.4,484 151,493.1 147.2,500.7 142,508.3 136.4,514.5 129.8,520 124.6,523.4 119.1,526.3 112.3,528.9 103.6,530.9 97.2,531.6 87.2,531.8 80,531.1 75.1,530.1 71.8,528.9 69.7,527.7 75.2,525.6 80.2,523 85,519.8 89.2,516.1 94,510.2 97.1,504.7 99.4,498.6 100.6,491.7 100.7,485.1 100,478.4 98.4,472.4 95.8,466.8 93,462.7 89,458.5 84.6,455.1 78.5,451.8 73.5,449.9 69.1,448.8 65.3,448.1 60.6,447.6 56.7,447.4 53.2,447.4 49,447.5 44.9,448 41.1,448.6 37.7,449.3 34.6,450.3 31.6,451.3 28,453 24.9,454.7 21.9,456.7 19.3,458.8 16.9,461 13.4,465 10.4,469.7 8.4,474 7.1,478.6 6.3,482.6 5.9,487.3 6.1,492.7 6.7,497.8 7.5,501.4 8.7,505 10.1,508.4 11.9,511.8 14.7,515.9 18.1,519.9 20.7,522.4 23.4,524.7 26.3,526.8 29.3,528.8 31.9,530.4 36.8,532.9 42.4,535.4 49.5,537.9 57.9,540.1 69.7,542.3 82.8,543.6 97.2,544 113.1,543.5 129.6,541.7 145.7,538.5 161.1,534 174.3,528.8 188.5,521.7 201.1,513.7 209.9,506.9 217.6,500 223.8,493.4 215.4,473.3">
                  </polygon>
                </clipPath>
              </defs>
            </svg>
            <%# <svg id="a-header-clip" viewBox="0 0 422 700" width="422" height="700">
              <defs>
                <clipPath id="a-clip">
                  <path id="a-header-polygon"
                    path="M211.7,203.2 C237.03346,203.2 259.233238,208.933276 278.3,220.4 C297.366762,231.866724 312.166614,248.466558 322.7,270.2 C333.233386,291.933442 338.5,317.866516 338.5,348 C338.5,377.33348 333.100054,403.33322 322.3,426 C311.499946,448.66678 296.43343,466.266604 277.1,478.8 C257.76657,491.333396 235.833456,497.6 211.3,497.6 C185.96654,497.6 163.766762,491.866724 144.7,480.4 C125.633238,468.933276 110.833386,452.333442 100.3,430.6 C89.766614,408.866558 84.5,382.933484 84.5,352.8 C84.5,323.46652 89.899946,297.46678 100.7,274.8 C111.500054,252.13322 126.56657,234.533396 145.9,222 C165.23343,209.466604 187.166544,203.2 211.7,203.2 Z M210.1,210.4 C193.033248,210.4 178.033398,216.333274 165.1,228.2 C152.166602,240.066726 142.166702,256.66656 135.1,278 C128.033298,299.33344 124.5,323.733196 124.5,351.2 C124.5,378.933472 128.433294,403.333228 136.3,424.4 C144.166706,445.466772 154.7666,461.733276 168.1,473.2 C181.4334,484.666724 196.366584,490.4 212.9,490.4 C229.966752,490.4 244.966602,484.466726 257.9,472.6 C270.833398,460.733274 280.833298,444.13344 287.9,422.8 C294.966702,401.46656 298.5,377.066804 298.5,349.6 C298.5,321.866528 294.566706,297.466772 286.7,276.4 C278.833294,255.333228 268.2334,239.066724 254.9,227.6 C241.5666,216.133276 226.633416,210.4 210.1,210.4 Z">
                  </path>
                </clipPath>
              </defs>
            </svg> %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="mobile">
  <div>EXPLORE MOBILE VERSION</div>
</div>
<div id="sprt-w-br" class="sprt-w"><span class="sprt">PLEASE UPDATE BROWSER</span></div>
<noscript>
  <div class="sprt-w"><span class="sprt">JAVASCRIPT IS OFF<br>PLEASE ENABLE TO VIEW FULL SITE</span></div>
</noscript>
