<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Persorg · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <svg id="svg" width="0" height="0">
      <symbol viewBox="0 0 24 24" id="svg-facebook">
        <path
          d="M13.9,7H16V4h-2.4l0,0C10.7,4.1,10,5.8,10,7.5l0,0V9H8v3h2v8h3v-8h2.5L16,9h-3V8.1C13,7.5,13.4,7,13.9,7z" />
      </symbol>
      <symbol viewBox="0 0 24 24" id="svg-twitter">
        <path d="M20,7.1c-0.3,0.1-1.1,0.4-1.8,0.5c0.5-0.3,1.2-1.1,1.4-1.8c-0.5,0.3-1.5,0.7-2.1,0.7l0,0c-0.6-0.6-1.4-1-2.4-1
          c-1.8,0-3.3,1.5-3.3,3.3c0,0.3,0,0.5,0.1,0.7l0,0c-2.5-0.1-5.4-1.3-7-3.4c-1,1.7-0.1,3.7,1,4.4c-0.4,0-1.1,0-1.4-0.4
          C4.4,11.3,5,12.8,7,13.3c-0.4,0.2-1.1,0.2-1.4,0.1c0.1,1,1.5,2.2,3,2.2C8,16.3,6.2,17.4,4,17c1.5,0.9,3.3,1.5,5.2,1.5
          c5.3,0,9.5-4.3,9.2-9.6l0,0l0,0l0,0C18.9,8.4,19.5,7.8,20,7.1z" />
      </symbol>
      <symbol viewBox="0 0 6 12" id="svg-arrow-left">
        <path d="M6,10L2,6l4-4V0L0,6l6,6L6,10z" />
      </symbol>
      <symbol viewBox="0 0 6 12" id="svg-arrow-right">
        <path d="M0,2l4,4l-4,4v2l6-6L0,0L0,2z" />
      </symbol>
    </svg>
    <div id="sail"></div>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
